#row span {
    display: inline-block;
    float:left;
}

#row-rank {
    padding-bottom: 30px;
}

#seats {
    float: left;
    margin-left: 15px;
}

#seat {
    width: 25px;
    height: 15px;
    text-align: center;
}

#section {
    padding-bottom: 35px;
}

.clear {
    clear: both;
}

.free {
    background-color: #00B200;
}

.occupied {
    background-color: #E32A2A;
}
